body {
    background: $background-alternative-color;
    margin: 0 auto;
    width: 80%;
}

main {
    background-color: $background-color;
    padding: 1.5em;
    margin: auto;
    color: $font-alternative-color;
    min-height: 50vh;
    border-radius: 2px;
}

div {
    color: $font-alternative-color;
}

a {
    text-decoration: none;
    color: $link-color;
}

a:active {
    color: $accent-color-2;
}

li {
    color: $font-alternative-color;
}

i {
    color: $icon-color;
}

i:active {
    color: $icon-active-color
}

hr {
    margin: 0;
    border-style: solid;
    color: $font-alternative-color;
}

@media screen and (max-width: 767px) {
    main {
        background-color: transparent;
    }
}