body {
    background: $background-alternative-color;
    margin: 0 auto;
    width: 100%;
}

.main {
    background-color: transparent;
    padding: 1.5em;
    margin: 2rem auto;
    color: $font-alternative-color;
    min-height: 59vh;
    width: 80%;
    display: flex;
}

.text-article {
    width: 80%;
    margin: 0 auto;
    align-self: center;
}

div {
    color: $font-alternative-color;
}

a {
    text-decoration: none;
    color: $link-color;
}

// p a {
//     text-decoration: underline;
// }

a:active {
    color: $accent-color-2;
}

li {
    color: $font-alternative-color;
}

i {
    color: $icon-color;
}

i:active {
    color: $icon-active-color
}

hr {
    margin: 0;
    border-style: solid;
    color: $font-alternative-color;
}

.load-speed-data {
    width: 82%;
    height: 50vh;
}

.text-article a {
    text-decoration: underline dashed;
}

@media screen and (max-width: 767px) {
    .text-article {
        width: 100%;
    }
}