// .border {
//     border-top: 2px dashed $accent-color;
//     width: 125%;
//     margin: 2% 0 2% -12.5%;
// }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px dashed $accent-color;
    padding: 2% 0;
    margin: 2% auto;

    div .social {
        display: flex;
        justify-content: flex-end;
        width: auto;
        gap: 10%;
    }

    p {
        margin: 0;
        color: $accent-color-hidden;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 10% auto;
        padding: 10% 0;
    }
}