// .border {
//     border-top: 2px dashed $accent-color;
//     width: 125%;
//     margin: 2% 0 2% -12.5%;
// }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $active-link-color;
    padding: 2% 4%;
    margin: 0 auto;

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 15%;
    }

    p {
        margin: 0;
        color: $accent-color-hidden;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 10% 0;
    }
}