.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    border-top: 2px dashed $accent-color;
    color: $accent-color-hidden;

    p {
        margin: 0;
    }
}