.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.header ul {
    li {
        padding: 0 0 0 2rem;
        font-size: x-large;
        font-family: $header-font;
        font-weight: 200;
    }
}

.active a {
    color: $accent-color-2;
}