p, li {
    font-family: $p-font;
    font-size: 1.25rem;
    font-weight: 350;
    line-height: 1.5;
}

p {
    margin-bottom: 1.875rem;
}

.h1-border-bottom {
    border-bottom: 2px dashed $accent-color;
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: 200;
    color: $accent-color-2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

// h1 {
//     letter-spacing: 0.3rem;
// }

.linefont {
    font-family: $line;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
}