p {
    font-family: $p-font;
    font-size: 1.25rem;
    font-weight: 350;
    line-height: 1.5;
    margin-bottom: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: 200;
    color: $accent-color-2;
}

h1 {
    letter-spacing: 0.3rem;
}