$font-alternative-color: #0C1533; // Main font color
$accent-color: #2C3966; // Logga m.m.
$accent-color-2: #fff;
$accent-color-hidden: #2C3966;
$accent-color-hidden-2: #fff;
$background-color: #ffffff15;
$background-alternative-color: #C5D3FF; // #C5D3FF

$code-background-color: #fff;
$code-color: #595959;

$link-color: #fff;
$active-link-color: #2C3966;

$icon-color: #2C3966;
$icon-active-color: #fff;

$box-color-1: #ffffff15;
$box-color-2: #ffffff15;

$header-font: 'Poppins', serif;
$p-font: 'Poppins', serif;
$line: 'Linefont';
$p-font-size: 1.25rem;
$p-larger-font-size: 1.5rem;
