$font-alternative-color: #0C1533; // Main font color
$accent-color: #2C3966; // Logga m.m.
$accent-color-2: #fff;
$accent-color-hidden: #2C3966;
$accent-color-hidden-2: #fff;
$background-color: #ffffff15;
$background-alternative-color: #C5D3FF; // linear-gradient(310deg, #dfd9ff, #D1E7FF 100%); // https://webgradients.com/

$code-background-color: #fff;
$code-color: #595959;

$link-color: #fff;
$active-link-color: #2C3966;

$icon-color: #2C3966;
$icon-active-color: #fff;

// $gradient: linear-gradient(90deg, #ffd23c 0%, #02edab 100%);
// $gradient-2: linear-gradient(301deg, rgba(36,23,81,1) 0%, rgba(77,71,163,1) 100%);

// $font-color: #000;
// $accent-color-3: rgba(255, 233, 161, 0.113);
// $accent-color-4: #02edaa62;
// $background-alternative-color-2: #4d47a39c;


$header-font: 'Poppins', serif;
$p-font: 'Poppins', serif;
$line: 'Linefont';
$p-font-size: 1.25rem;
$p-larger-font-size: 1.5rem;

// #A9B1CC
// #606E99
// #C5D3FF
// #2C3966
// #0C1533