$font-color: #000;
$font-alternative-color: #fffffff0;
$accent-color: #02edab;
$accent-color-2: rgb(255 210 60);
$accent-color-3: rgba(255, 233, 161, 0.113);
$accent-color-4: #02edaa62;
$accent-color-hidden: #6c86ce;
$accent-color-hidden-2: #6c86ce71;
$background-color: #4d47a3;
$background-alternative-color: #241751;
$background-alternative-color-2: #4d47a39c;

$link-color: #02edab;
$active-link-color: rgb(255 210 60);

$icon-color: #02edab;
$icon-active-color: rgb(255 210 60);

$code-background-color: #fff;
$code-color: #333;

$box-color-1: #5853a3bd;
$box-color-2: #4d47a3bd;

$header-font: 'Orbitron', serif;
$p-font: 'Poppins', serif;
$line: 'Linefont';
$p-font-size: 1.25rem;
$p-larger-font-size: 1.5rem;